<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-white shadow-sm">
        <div class="container">
            <a href="/" class="navbar-brand">
                <i class="bi bi-code-square"></i>Techcareer.net
            </a>

            <ul class="navbar-nav ms-auto">
                @if (User.Identity!.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a asp-controller="Posts" asp-action="List" class="nav-link">Post List</a>
                    </li>
                    <li class="nav-item">
                        <a href="/profile/@User.Identity.Name" class="nav-link">@User.Identity.Name</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Users" asp-action="Logout" class="nav-link">Logout</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a asp-controller="Users" asp-action="Login" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Users" asp-action="Register" class="nav-link">Register</a>
                    </li>
                }


            </ul>
        </div>
    </nav>
    <div class="container mt-3">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>

</html>