<h2>Şifre Unuttum</h2>
<hr>
<form asp-action="ForgotPassword" method="post">
    <div class="mb-3">
        <label for="Email" class="form-label"></label>
        <input name="Email" type="email" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Gönder</button>

</form>